.form-data {
    width: 50%;
    height: 58vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;

}

.form-data input {
    padding: 15px 30px;
    width: 70%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 650;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.form-data input:hover{
    color: rgb(189, 21, 21);    
    transform: scale(1.02);
    transition: 0.8s ease-in-out;
}

.form-data button {
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    width: 300px;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
}

.btn{
    display: flex;
    gap: 5%;
}