.card-container{
    width: 95%;
    /* border: 2px solid black; */
    margin: 0px auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    border: 5px solid black;
    border-radius: 12px;
    height: 400px;
    width: 320px;    
    display: flex;
    justify-content: center;
    padding: auto;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin:25px;
}


.card-img{
    width: 90%;
    height: 50%;
    /* border: 2px solid black;   */
    border-radius: 12px; 
}

.card-img img{
    object-fit: contain;
    width: 68%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 2px solid black; */
}


.card-button{
    display: flex;
    gap: 10px;
}

.card-button button{
    padding: 10px 20px ;
}