.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.footer-about,
.footer-links,
.footer-contact {
    width: 30%;
    text-align: center;
    gap: 20px;
    min-width: 300px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-about h2,
.footer-links h2,
.footer-contact h2 {
    margin: 15px;
}

.footer-page {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer p,
.footer a,
.footer h4 {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.footer a:hover,
.footer h4:hover {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #444;
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 13px;
    color: #aaa;
}